
* {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}



body{
margin:0px;
background-color:rgba(232,232,232,1.0);
width:100%;
}


#listText{
	
	width:100%;
	white-space : normal;
	
}

.listHeadline{
	font-size:14px;
	line-height:15px;
	width:100%;
	white-space : normal;
	margin-bottom:10px;
}


.listSummary{
	font-size:11px;
	line-height:13px;
	font-weight:100;
	width:100%;
	white-space : normal;
}


.thumb{
float:left;
display:inline;
width:80px;
height:80px;
margin-right:10px;
border-radius:2px;
border-color:#CCC;
border-width:1px;
border-style:solid;
background-color:#7a7a7a;
background-position:center top;
background-size: auto 80px;
}












